* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 100px 50px 700px 100px;
}
nav {
  background: #525659;
  grid-column: 1/ 13;
}
nav ul li {
  font-size: 25px;
  display: inline-block;
  margin-top: -10px;
  padding: 0 30px 10px 30px;
}
img {
  position: relative;
  top: 20;
}
nav ul li:first-child {
  padding-left: 50px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  text-decoration: underline;
}
nav select {
  width: 150px;
}
body {
  background-color: #f8f8f8;
  font-family: arial;
}
section {
  grid-column: 1/13;
  padding:  30px 0 0 20px;
}
button {
  border: 1px solid #525659;
  padding: 20px;
  margin-right: 20px;
}
a button:hover {
  border: 1px solid white;
}
h1, table {
  margin: 20px;
}
h1 {
  grid-column: 1/13;
}
table {
  grid-column: 1/13;
  border-collapse: collapse;
  box-sizing:content-box;
}
table th {
  padding: 10px 0 20px 10px;
  text-align: left;
}
table tbody td {
  padding: 10px 0 10px 10px;
}
table th, table td {
  border: 1px solid black;
}
tbody tr:nth-child(odd) {
  background-color: #DCDCDC;
}
form {
  grid-column: 1/13;
  padding: 30px;
}
input, p{
  width: 100%;
  padding: 10px 0 10px 0;
}
form input[type=submit] {
  display:block;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  border: 2px solid green;
  color: green;
  background-color: white;
}
form input[type=submit]:hover {
  background-color: green;
  color: white;
}
form input[type=radio] {
  width: 2%;
}
form input[type=checkbox] {
  margin-top: 20px;
  width: 2%;
}
select {
  width: 100%;
  padding: 10px;
}
#createModule {
  margin-top: 20px;
}
.modules {
  list-style: none;
}
footer {
  border-top: 1px solid #525659;
  background: #dddddd;
  color: black;
  grid-column: 1/ 13;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  text-align: center;
  padding: 20px;
}
